[submodule "pybind11"]
    path = pybind11
    url = https://github.com/pybind/pybind11.git
    branch = master
[submodule "headers"]
    path = headers
    url = https://github.com/cubao/headers.git
[submodule "h3"]
    path = h3
    url = https://github.com/uber/h3.git
